body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: Roboto, sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
  width: 100%;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-inline: 0;
    max-width: 1170px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
  .nav__list {
    display: flex;
    gap: 50px;
  }
  .nav__link {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: 250ms color;
  }
  .nav__item:hover {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
  .nav__list {
    display: flex;
    gap: 50px;
  }
  .nav__link {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: 250ms color;
  }
  .nav__item:hover {
    color: #2196f3;
  }
}

.is-active {
  position: relative;
  color: #2196f3;
}
.is-active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}
.contacts--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts--footer {
    align-items: start;
    gap: 9px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    gap: 8px;
    line-height: 14px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    gap: 10px;
    line-height: 16px;
    font-size: 14px;
    transition: 250ms color;
  }
  .contacts__link:hover {
    color: #2196f3;
  }
}
.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link--footer:nth-child(1) {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .contacts__link--footer:nth-child(1):hover {
    color: #2196f3;
  }
}
.contacts__icon {
  color: inherit;
}
.contacts__icon--email {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    height: 16px;
  }
}

.logo {
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding: 0;
  }
}
.logo__web {
  color: #2196f3;
}
.logo--footer {
  padding: 0;
  color: #ffffff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url("../images/bg--banner.jpg"), #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center top 30%;
}
@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
  }
}
.banner__title {
  margin: 0 0 30px;
  width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .banner__title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}
.banner__button {
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .banner__button {
    width: 216px;
  }
}

.button {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  border-radius: 4px;
  transition: all 250ms;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 0 32px;
  }
}
.button--small {
  padding: 0 22px;
  height: 38px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.button--blue {
  background-color: #2196f3;
  color: #ffffff;
  border: none;
}
.button--bold {
  font-weight: 700;
}
.button--subscribe {
  padding: 0 28px;
  gap: 10px;
  letter-spacing: 0.06em;
}
.button--send {
  padding: 0 52px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  margin: 0 0 30px;
  text-align: center;
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin: 0 0 50px;
    line-height: 42px;
    font-size: 36px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__title {
  margin: 0 0 30px;
  text-align: center;
  line-height: 32px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin: 0 0 50px;
    line-height: 42px;
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__list {
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    width: 270px;
  }
}
.feature__image {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature__icon {
  width: 70px;
  height: 70px;
}
.feature__title {
  margin: 0 0 10px;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    text-align: start;
  }
}
.feature__description {
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

.services {
  display: none;
}
@media screen and (min-width: 1200px) {
  .services {
    display: flex;
  }
  .services__list {
    display: flex;
    gap: 30px;
  }
  .services__item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .service__image {
    display: flex;
    width: 370px;
  }
  .service__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .service__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.team {
  background-color: #f5f4fa;
}
.team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.person {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 4px;
  background-color: #ffffff;
}
.person__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .person__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .person__image {
    width: 270px;
  }
}
.person__info {
  padding: 30px 74px 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .person__info {
    padding: 30px 32px;
  }
}
.person__name {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.person__role {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #757575;
}

.social__title {
  margin: 0 0 20px;
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social__item {
  color: #afb1b8;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .social__item {
    background-color: #ffffff;
    transition: 250ms background-color, 250ms color;
  }
  .social__item:hover {
    color: #ffffff;
    background-color: #2196f3;
  }
}
.social__item--footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
@media screen and (min-width: 1200px) {
  .social__item--footer:hover {
    color: #ffffff;
    background-color: #2196f3;
  }
}
.social__link {
  padding: 12px;
  display: flex;
}
.social__icon {
  width: 20px;
  height: 20px;
}

.clients__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 226px;
  width: calc(50% - 15px);
  height: 92px;
  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    transition: 250ms color;
  }
  .clients__item:hover {
    color: #2196f3;
    border: 1px solid #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    cursor: pointer;
  }
}

.client__icon {
  width: 106px;
  height: 60px;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__logo {
  margin: 0 0 20px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    justify-content: start;
  }
}
.footer-title {
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    position: relative;
    width: 570px;
    height: 86px;
  }
}
.subscribe__title {
  margin: 0 0 20px;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe__label {
  width: 100%;
}
.subscribe__input {
  padding: 15px 16px;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: border-color 250ms;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
.subscribe__input::-moz-placeholder {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:hover {
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 358px;
  }
}
.subscribe__icon-telegram {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 700ms;
  pointer-events: none;
}
.modal:target {
  opacity: 1;
  pointer-events: all;
}
.modal:target .modal__window {
  transform: translate(-50%, -50%);
}
.modal__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -35%);
  width: 450px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 700ms ease-in-out;
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  transition: color 250ms, border-color 250ms;
}
.modal__button:hover {
  border-color: #2196f3;
}
.modal__button:hover .modal__close {
  color: #2196f3;
}
.modal__close {
  width: 11px;
  height: 11px;
  color: #212121;
  transition: 250ms color;
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 23px;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 0 none;
}
.form__label {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__label--message {
  margin-bottom: 20px;
}
.form__label--terms {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form__label--terms {
    font-size: 14px;
    line-height: 24px;
  }
}
.form__label:hover .form__icon {
  color: #2196f3;
}
.form__input {
  padding-left: 42px;
  width: 370px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms;
  cursor: pointer;
}
.form__input:hover {
  border-color: #2196f3;
}
.form__input--message {
  padding: 12px 16px;
  height: 120px;
  font-family: inherit;
  resize: none;
}
.form__input--message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__input--message::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}
.form__input--terms {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__input--terms:checked ~ .form__icon--checkbox {
  display: none;
}
.form__input--terms:checked ~ .form__icon--checkbox-checked {
  display: block;
}
.form__link {
  text-decoration: underline;
  color: #2196f3;
}
.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #212121;
  transition: color 250ms;
}
.form__icon--checkbox {
  height: 16px;
  width: 16px;
}
.form__icon--checkbox-checked {
  display: none;
  height: 16px;
  width: 16px;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
  }
}
.filters__button--active {
  padding: 0 25px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}
@media screen and (min-width: 1200px) {
  .filters__button {
    transition: 250ms background-color color;
  }
  .filters__button:hover {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
  }
}

.projects__filters {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .projects__filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__filters {
    margin-bottom: 50px;
  }
}
.projects__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .projects__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: 370px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  transition: 250ms box-shadow;
  cursor: pointer;
}
.project:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
}
.project:hover .project__overlay {
  transform: translateY(0);
}
.project__image-container {
  position: relative;
  overflow: hidden;
}
.project__image {
  display: flex;
  height: 294px;
  width: 100%;
}
.project__overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transition: 250ms transform;
}
.project__description {
  position: absolute;
  left: 24px;
  top: 77px;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .project__description {
    top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .project__description {
    top: 63px;
  }
}
.project__info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  flex-grow: 1;
}
.project__name {
  margin: 0 0 4px;
  line-height: 36px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.project__type {
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=styles.css.map */