body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: Roboto, sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
  width: 100%;
  max-width: 480px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    margin-left: auto;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav {
    display: flex;
  }
  .nav__list {
    display: flex;
    gap: 50px;
  }
  .nav__link {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: 250ms color;
  }
  .nav__item:hover {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
  }
  .nav__list {
    display: flex;
    gap: 50px;
  }
  .nav__link {
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    transition: 250ms color;
  }
  .nav__item:hover {
    color: #2196f3;
  }
}

.is-active {
  position: relative;
  color: #2196f3;
}
.is-active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    gap: 30px;
  }
}
.contacts--footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts--footer {
    align-items: start;
    gap: 9px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__link {
    gap: 8px;
    line-height: 14px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    gap: 10px;
    line-height: 16px;
    font-size: 14px;
    transition: 250ms color;
  }
  .contacts__link:hover {
    color: #2196f3;
  }
}
.contacts__link--footer {
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link--footer:nth-child(1) {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .contacts__link--footer:nth-child(1):hover {
    color: #2196f3;
  }
}
.contacts__icon {
  color: inherit;
}
.contacts__icon--email {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    height: 16px;
  }
}

.logo {
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .logo {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding: 0;
  }
}
.logo__web {
  color: #2196f3;
}
.logo--footer {
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */