@import "utils/variables";
@import "utils/reset";
@import "utils/normalize";
@import "utils/mixins";

.container {
  margin: 0 auto;

  padding-inline: 15px;

  width: 100%;
  max-width: 480px;

  @include onTablet {
    max-width: 768px;
  }

  @include onDesktop {
    padding-inline: 0;

    max-width: 1170px;
  }
}

.header {
  border-bottom: 1px solid #ececec;

  &__logo {
    @include onTablet {
      margin-right: 87px;
    }
    @include onDesktop {
      margin-right: 93px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: none;

    @include onTablet {
      @include headerContacts;
    }
    @include onDesktop {
      @include headerContacts;
    }
  }
}

.nav {
  display: none;

  @include onTablet {
    display: flex;

    &__list {
      @include navList;
    }

    &__link {
      @include navLink;
    }

    &__item:hover {
      color: $color-blue;
    }
  }
  @include onDesktop {
    display: flex;

    &__list {
      @include navList;
    }

    &__link {
      @include navLink;
    }

    &__item:hover {
      color: $color-blue;
    }
  }
}

.is-active {
  position: relative;

  color: $color-blue;

  &:after {
    content: "";

    position: absolute;
    bottom: -1px;

    height: 4px;
    width: 100%;

    border-radius: 2px;

    background-color: $color-blue;
  }
}

.contacts {
  @include onTablet {
    @include columnCentering;
    gap: 10px;
  }

  @include onDesktop {
    gap: 30px;
  }
  &--footer {
    @include columnCentering;
    align-items: center;

    gap: 8px;

    @include onDesktop {
      align-items: start;

      gap: 9px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;

    color: $color-gray;

    @include onTablet {
      gap: 8px;

      line-height: 14px;

      font-size: 12px;
    }

    @include onDesktop {
      gap: 10px;

      line-height: 16px;

      font-size: 14px;

      transition: 250ms color;

      &:hover {
        color: $color-blue;
      }
    }

    &--footer {
      color: $color-link-footer;

      &:nth-child(1) {
        color: $color-white;

        @include onDesktop {
          &:hover {
            color: $color-blue;
          }
        }
      }
    }
  }
  &__icon {
    color: inherit;

    &--email {
      width: 14px;
      height: 10px;
      @include onDesktop {
        width: 16px;
        height: 12px;
      }
    }

    &--smartphone {
      width: 10px;
      height: 14px;
      @include onDesktop {
        height: 16px;
      }
    }
  }
}

.logo {
  padding: 15.5px 0;

  display: flex;
  align-items: center;

  font-family: $font-logo;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;

  @include onTablet {
    padding: 0;
  }

  @include onDesktop {
    padding: 0;
  }

  &__web {
    color: $color-blue;
  }

  &--footer {
    color: $color-white;
  }
}

.banner {
  @include columnCentering;
  align-items: center;

  height: 400px;

  background: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url("../images/bg--banner.jpg"), $background-color;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center top 30%;

  @include onDesktop {
    height: 600px;
  }

  &__title {
    margin: 0 0 30px;

    width: 360px;

    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;

    color: $color-white;

    @include onDesktop {
      width: 696px;

      font-size: 44px;
      line-height: 60px;
    }
  }

  &__button {
    width: 200px;

    @include onDesktop {
      width: 216px;
    }
  }
}

.button {
  padding: 0 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  line-height: 30px;

  font-size: 16px;
  font-weight: 500;

  background-color: $color-light-violet;
  color: $color-black;

  border: none;
  border-radius: 4px;

  transition: all 250ms;

  cursor: pointer;

  @include onDesktop {
    padding: 0 32px;
  }

  &--small {
    padding: 0 22px;

    height: 38px;

    line-height: 26px;

    letter-spacing: 0.03em;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;

    border: none;
  }

  &--bold {
    font-weight: 700;
  }

  &--subscribe {
    padding: 0 28px;

    gap: 10px;

    letter-spacing: 0.06em;
  }

  &--send {
    padding: 0 52px;

    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px 0px #00000026;
  }
}

.section {
  padding: 60px 0;

  @include onDesktop {
    padding: 94px 0;
  }

  &__title {
    margin: 0 0 30px;
    text-align: center;

    line-height: 32px;

    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.03;

    @include onDesktop {
      margin: 0 0 50px;

      line-height: 42px;
      font-size: 36px;
    }
  }
}

.features {
  @include onDesktop {
    padding-bottom: 0;
  }
  &__list {
    @include rowWrap;

    @include onDesktop {
      flex-wrap: nowrap;
    }
  }
}

.feature {
  @include onTablet {
    width: 354px;
  }

  @include onDesktop {
    width: 270px;
  }
  &__image {
    margin-bottom: 30px;

    @include flexCentering;

    height: 120px;

    background-color: $color-light-violet;

    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin: 0 0 10px;

    text-align: center;

    line-height: 16px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;

    @include onTablet {
      text-align: start;
    }

    @include onDesktop {
      text-align: start;
    }
  }

  &__description {
    @include grayTypography;
  }
}

.services {
  display: none;

  @include onDesktop {
    display: flex;
    &__list {
      display: flex;
      gap: 30px;
    }

    &__item {
      position: relative;
    }
  }
}

.service {
  @include onDesktop {
    &__image {
      display: flex;

      width: 370px;
    }

    &__overlay {
      @include zeroPosition;

      height: 70px;
      width: 370px;

      background-color: #2f303acc;
    }

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03em;

      color: $color-white;
    }
  }
}

.team {
  background-color: $color-light-violet;

  &__list {
    @include columnCentering;

    gap: 30px;

    @include onTablet {
      @include rowWrap;
    }

    @include onDesktop {
      @include noWrap;
    }
  }
}

.person {
  box-shadow: 0px 1px 3px 0px #0000001f;

  border-radius: 4px;

  background-color: $color-white;

  &__image {
    width: 100%;

    @include onTablet {
      width: 354px;
    }

    @include onDesktop {
      width: 270px;
    }
  }

  &__info {
    padding: 30px 74px 24px;
    text-align: center;

    @include onDesktop {
      padding: 30px 32px;
    }
  }

  &__name {
    margin: 0 0 10px;

    @include personTypography;

    font-weight: 500;
  }

  &__role {
    margin-bottom: 16px;

    @include personTypography;

    color: $color-gray;
  }
}

.social {
  &__title {
    margin: 0 0 20px;
  }

  &__list {
    @include flexCentering;

    gap: 10px;
  }

  &__item {
    color: $color-icon;

    border-radius: 50%;

    @include onDesktop {
      background-color: $color-white;

      transition: 250ms background-color, 250ms color;
      &:hover {
        color: $color-white;
        background-color: $color-blue;
      }
    }

    &--footer {
      color: $color-white;
      background-color: $color-icon-footer;

      @include onDesktop {
        &:hover {
          color: $color-white;
          background-color: $color-blue;
        }
      }
    }
  }

  &__link {
    padding: 12px;

    display: flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.clients {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @include onDesktop {
      flex-wrap: nowrap;
    }
  }

  &__item {
    color: $color-icon;
    background-color: $color-white;

    border: 1px solid $color-icon;
    border-radius: 4px;

    @include onTablet {
      transition: 250ms color;

      &:hover {
        color: $color-blue;
        border: 1px solid $color-blue;
      }
    }

    @include onDesktop {
      transition: 250ms color;

      &:hover {
        color: $color-blue;
        border: 1px solid $color-blue;
      }
    }
  }
}

.client {
  &__link {
    padding: 16px 51px;

    display: flex;

    @include onTablet {
      padding: 16px 59px;
    }

    @include onDesktop {
      padding: 15px 31px;
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
  }
}

.footer {
  padding: 60px 0;

  background-color: $background-color;

  &__content {
    @include columnCentering;
    justify-content: space-between;

    gap: 60px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    @include onDesktop {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__logo {
    margin: 0 0 20px;

    justify-content: center;

    @include onDesktop {
      justify-content: start;
    }
  }

  &-title {
    text-align: center;

    line-height: 16px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-white;

    @include onDesktop {
      text-align: start;
    }
  }
}

.subscribe {
  @include onDesktop {
    position: relative;

    width: 570px;
    height: 86px;
  }
  &__title {
    margin: 0 0 20px;
  }

  &__form {
    @include columnCentering;
    align-items: center;
    gap: 20px;
  }

  &__input {
    padding: 15px 16px;

    height: 50px;
    width: 450px;

    outline: none;

    border: 1px solid #ffffff4d;
    border-radius: 4px;

    background-color: transparent;

    color: $color-white;

    transition: border-color 250ms;

    cursor: pointer;

    &::placeholder {
      font-family: inherit;
      font-size: 16px;
      letter-spacing: 0.03em;

      color: #ffffff99;
    }

    &:hover {
      border-color: $color-blue;
    }

    @include onDesktop {
      @include zeroPosition;

      width: 358px;
    }
  }

  &__icon-telegram {
    width: 24px;
    height: 24px;
  }

  @include onDesktop {
    &__button {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0;

  transition: opacity 700ms;

  pointer-events: none;

  &:target {
    opacity: 1;

    pointer-events: all;

    & .modal__window {
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    @include zeroPosition;
    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
  }

  &__window {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;

    transform: translate(-50%, -35%);

    width: 450px;

    background-color: $color-white;

    box-shadow: 0px 2px 1px #00000033;

    border-radius: 4px;

    transition: transform 700ms ease-in-out;

    @include onDesktop {
      width: 528px;
    }
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    background-color: $color-white;

    border: 1px solid #0000001a;
    border-radius: 50%;

    transition: color 250ms, border-color 250ms;

    &:hover {
      border-color: $color-blue;

      & .modal__close {
        color: $color-blue;
      }
    }
  }

  &__close {
    width: 11px;
    height: 11px;

    color: $color-black;

    transition: 250ms color;
  }

  &__title {
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.03em;

    text-align: center;

    color: $color-black;

    @include onDesktop {
      line-height: 23px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;

  border: 0 none;

  &__label {
    margin-bottom: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: $color-gray;

    &--message {
      margin-bottom: 20px;
    }

    &--terms {
      margin-bottom: 30px;

      @include flexCentering;
      flex-direction: row;
      gap: 8px;

      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;

      color: $color-gray;

      @include onDesktop {
        font-size: 14px;
        line-height: 24px;
      }
    }

    &:hover {
      & .form__icon {
        color: $color-blue;
      }
    }
  }

  &__input {
    padding-left: 42px;

    width: 370px;
    height: 40px;

    outline: none;

    border: 1px solid #21212133;
    border-radius: 4px;

    transition: border-color 250ms;

    cursor: pointer;

    &:hover {
      border-color: $color-blue;
    }
    &--message {
      padding: 12px 16px;

      height: 120px;
      font-family: inherit;

      resize: none;

      &::placeholder {
        color: #75757580;
      }
    }

    @include onDesktop {
      width: 448px;
    }

    &--terms {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;

      &:checked {
        & ~ .form__icon--checkbox {
          display: none;
        }

        & ~ .form__icon--checkbox-checked {
          display: block;
        }
      }
    }
  }

  &__link {
    text-decoration: underline;

    color: $color-blue;
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;

    color: $color-black;

    transition: color 250ms;

    &--checkbox {
      height: 16px;
      width: 16px;
    }

    &--checkbox-checked {
      display: none;

      height: 16px;
      width: 16px;
    }
  }
}

.filters {
  @include rowWrap;
  gap: 15px 8px;

  @include onTablet {
    @include filters;
  }

  @include onDesktop {
    @include filters;
  }

  &__button {
    &--active {
      padding: 0 25px;
      color: $color-white;
      background-color: $color-blue;

      box-shadow: 0px 3px 1px 0px #0000001a;
    }

    @include onDesktop {
      transition: 250ms background-color color;
      &:hover {
        color: $color-white;
        background-color: $color-blue;

        box-shadow: 0px 3px 1px 0px #0000001a;
      }
    }
  }
}

.projects {
  &__filters {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    @include onTablet {
      flex-direction: row;
    }

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__item {
    @include onTablet {
      width: 354px;
    }

    @include onDesktop {
      width: 370px;
    }
  }
}

.project {
  display: flex;
  flex-direction: column;

  transition: 250ms box-shadow;

  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 6px 0px #00000029;

    & .project__overlay {
      transform: translateY(0);
    }
  }

  &__container {
    position: relative;

    overflow: hidden;
  }

  &__image {
    display: flex;

    height: 294px;
    width: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;

    transform: translateY(100%);

    width: 100%;
    height: 294px;

    background-color: #2196f3e5;

    transition: 250ms transform;
  }

  &__description {
    position: absolute;
    left: 24px;
    top: 77px;

    line-height: 28px;

    font-size: 18px;
    letter-spacing: 0.03em;

    color: $color-white;

    @include onTablet {
      top: 49px;
    }

    @include onDesktop {
      top: 63px;
    }
  }

  &__info {
    padding: 20px 24px;

    border: 1px solid $color-projects-border;
    border-top: none;
  }

  &__name {
    margin: 0 0 4px;

    line-height: 36px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
  }

  &__type {
    line-height: 30px;

    font-size: 16px;
    letter-spacing: 0.03em;

    color: $color-gray;
  }
}
