@import "../utils/mixins";

.aside {
  position: fixed;
  @include zeroPosition;

  padding: 48px 40px;

  background-color: $color-white;

  width: 100%;

  opacity: 0;

  transition: opacity 250ms;

  pointer-events: none;

  z-index: 10;

  &:target {
    opacity: 1;

    pointer-events: all;
  }

  &__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  &__nav {
    display: flex;
  }

  &__close-menu-icon {
    position: absolute;
    @include burgerIcon;

    color: $color-black;

    &:active {
      color: $color-blue;
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;

    &-item {
      padding: 0 10px;
      border-right: 1px solid #21212133;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;

        border: none;
      }
    }
    &-link {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.02em;

      color: $color-blue;
    }
  }

  @include onTablet {
    display: none;
  }
}
