@import "../utils/mixins";

.clients {
  &__list {
    @include rowWrap;
    gap: 30px;

    @include onDesktop {
      flex-wrap: nowrap;
    }
  }

  &__item {
    @include flexCentering;

    max-width: 226px;
    width: calc((100% / 2) - (30px / 2));
    height: 92px;

    color: $color-icon;
    background-color: $color-white;

    border: 1px solid $color-icon;
    border-radius: 4px;

    @include onTablet {
      transition: 250ms color;

      &:hover {
        color: $color-blue;
        border: 1px solid $color-blue;
      }
    }

    @include onDesktop {
      cursor: pointer;
    }
  }
}
