@import "../utils/mixins";

.contacts {
  @include onTablet {
    @include columnCentering;
    gap: 10px;
  }

  @include onDesktop {
    flex-direction: row;
    gap: 30px;
  }

  &--footer {
    @include columnCentering;
    align-items: center;
    gap: 8px;

    @include onDesktop {
      align-items: start;
      gap: 9px;
    }
  }

  &__link {
    margin-bottom: 64px;

    display: flex;
    align-items: center;

    line-height: 28px;

    font-style: normal;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;

    color: $color-gray;

    &--burger-menu {
      margin-bottom: 32px;

      font-size: 34px;
      font-weight: 500;
      line-height: 39px;
      letter-spacing: 0.02em;

      color: $color-blue;
    }
    @include onTablet {
      margin: 0;

      gap: 8px;

      line-height: 14px;

      font-size: 12px;
    }

    @include onDesktop {
      gap: 10px;

      line-height: 16px;

      font-size: 14px;

      transition: 250ms color;

      &:hover {
        color: $color-blue;
      }
    }

    &--footer {
      margin: 0;

      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.03em;

      color: $color-link-footer;

      &:nth-child(1) {
        color: $color-white;

        @include onDesktop {
          &:hover {
            color: $color-blue;
          }
        }
      }
    }
  }
  &__icon {
    color: inherit;

    &--email {
      width: 14px;
      height: 10px;
      @include onDesktop {
        width: 16px;
        height: 12px;
      }
    }

    &--smartphone {
      width: 10px;
      height: 14px;
      @include onDesktop {
        height: 16px;
      }
    }
  }
}
