@import "../utils/mixins";

.container {
  margin: 0 auto;

  padding-inline: 15px;

  width: 100%;
  max-width: 480px;

  @include onTablet {
    max-width: 768px;
  }

  @include onDesktop {
    padding-inline: 0;

    max-width: 1170px;
  }
}
