@import "../utils/mixins";

.features {
  @include onDesktop {
    padding-bottom: 0;
  }
  &__list {
    @include rowWrap;
    gap: 30px;
    
    @include onDesktop {
      flex-wrap: nowrap;
    }
  }
}
