@import "../utils/mixins";

.filters {
  @include rowWrap;
  gap: 15px 8px;

  @include onTablet {
    @include filters;
  }

  @include onDesktop {
    @include filters;
  }

  &__button {
    &--active {
      padding: 0 25px;
      color: $color-white;
      background-color: $color-blue;

      box-shadow: 0px 3px 1px 0px #0000001a;
    }

    @include onDesktop {
      transition: 250ms background-color color;
      &:hover {
        color: $color-white;
        background-color: $color-blue;

        box-shadow: 0px 3px 1px 0px #0000001a;
      }
    }
  }
}
