@import "utils/mixins";

.nav {
  display: none;

  @include onTablet {
    display: flex;

    &__list {
      @include navList;
    }

    &__link {
      @include navLink;
    }

    &__item:hover {
      color: $color-blue;
    }
  }
  @include onDesktop {
    display: flex;

    &__list {
      @include navList;
    }

    &__link {
      @include navLink;
    }

    &__item:hover {
      color: $color-blue;
    }
  }
}
