@import "../utils/mixins";

.nav {
  display: none;

  @include onTablet {
    display: flex;
  }

  &__list {
    &--burger-menu {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
    @include onTablet {
      @include navList;
    }
  }

  &__item {
    @include onTablet {
      &:hover {
        color: $color-blue;
      }
    }
  }

  &__link {
    &--burger-menu {
      font-size: 40px;
      font-weight: 500;
      line-height: 46.88px;
      letter-spacing: 0.02em;
    }

    @include onTablet {
      @include navLink;
    }
  }
}
