@import "utils/mixins";

.service {
  @include onDesktop {
    &__image {
      display: flex;

      width: 370px;
    }

    &__overlay {
      @include zeroPosition;

      height: 70px;
      width: 370px;

      background-color: #2f303acc;
    }

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03em;

      color: $color-white;
    }
  }
}