@import "utils/mixins";

.social {
  &__title {
    margin: 0 0 20px;
  }

  &__list {
    @include flexCentering;
    
    gap: 10px;
  }

  &__item {
    color: $color-icon;

    border-radius: 50%;

    @include onDesktop {
      background-color: $color-white;

      transition: 250ms background-color, 250ms color;
      &:hover {
        color: $color-white;
        background-color: $color-blue;
      }
    }

    &--footer {
      color: $color-white;
      background-color: $color-icon-footer;

      @include onDesktop {
        &:hover {
          color: $color-white;
          background-color: $color-blue;
        }
      }
    }
  }

  &__link {
    padding: 12px;

    display: flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
