@mixin onMobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin headerContacts {
  display: flex;
  margin-left: auto;
}

@mixin navList {
  display: flex;
  gap: 50px;
}

@mixin navLink {
  display: flex;
  align-items: center;

  height: 80px;

  font-size: 14px;

  transition: 250ms color;
}

@mixin columnCentering {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexCentering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin rowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin noWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@mixin personTypography {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

@mixin filters {
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
}

@mixin burgerIcon {
  top: 10px;
  right: 0;

  width: 40px;
  height: 40px;
}

@mixin bannerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center top 30%;
}

@mixin bg-pixelRatio-2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%
      ),
      url("../images/bg--banner-@2x.webp"), $background-color;

    @include bannerBackground;
  }
}

@mixin bg-pixelRatio-3 {
  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 0%
      ),
      url("../images/bg--banner-@3x.webp"), $background-color;

    @include bannerBackground;
  }
}
